.pyc
resources/BigGAN-Tensorflow/logs/*
resources/BigGAN-Tensorflow/checkpoint/*

resources/BigGAN-Tensorflow/dataset/*
output/*


./resources/stylegan_xl/data/occ128.zip
./resources/stylegan_xl/data/hakinft128.zip
./resources/stylegan_xl/data/cryptopunks128.zip
./resources/stylegan_xl/data/doodles-official128.zip
./resources/stylegan_xl/data/azuki128.zip
./resources/stylegan_xl/data/manga128.zip
./resources/stylegan_xl/data/apes128.zip
./resources/stylegan_xl/training-runs/manga/00000-stylegan3-r-manga128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/manga/00000-stylegan3-r-manga128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/azuki/00005-stylegan3-r-azuki128-gpus1-batch16/network-snapshot.pkl
./resources/stylegan_xl/training-runs/azuki/00006-stylegan3-r-azuki128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/azuki/00006-stylegan3-r-azuki128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/azuki/00001-stylegan3-r-azuki128-gpus1-batch1/network-snapshot.pkl
./resources/stylegan_xl/training-runs/azuki/00001-stylegan3-r-azuki128-gpus1-batch1/best_model.pkl
./resources/stylegan_xl/training-runs/azuki/00006-stylegan3-r-azuki128-gpus1-batch12 (copy)/network-snapshot.pkl
./resources/stylegan_xl/training-runs/azuki/00006-stylegan3-r-azuki128-gpus1-batch12 (copy)/best_model.pkl
./resources/stylegan_xl/training-runs/azuki/00002-stylegan3-r-azuki128-gpus1-batch8/network-snapshot.pkl
./resources/stylegan_xl/training-runs/cryptopunks/00000-stylegan3-r-cryptopunks128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/cryptopunks/00000-stylegan3-r-cryptopunks128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/doodles-official/00000-stylegan3-r-doodles-official128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/doodles-official/00000-stylegan3-r-doodles-official128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/occ/00000-stylegan3-r-occ128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/occ/00000-stylegan3-r-occ128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/boredapeyachtclub/00000-stylegan3-r-boredapeyachtclub128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/boredapeyachtclub/00000-stylegan3-r-boredapeyachtclub128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/hakinft/00000-stylegan3-r-hakinft128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/hakinft/00000-stylegan3-r-hakinft128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/apesNFT/00000-stylegan3-r-apes128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/apesNFT/00000-stylegan3-r-apes128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/KashiNFT/00000-stylegan3-r-KashiNFT128-gpus1-batch12/network-snapshot.pkl
./resources/stylegan_xl/training-runs/KashiNFT/00000-stylegan3-r-KashiNFT128-gpus1-batch12/best_model.pkl
./resources/stylegan_xl/training-runs/pokemon/00006-stylegan3-r-pokemon64-gpus1-batch1/network-snapshot.pkl
./resources/stylegan_xl/training-runs/pokemon/00006-stylegan3-r-pokemon64-gpus1-batch1/best_model.pkl
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-32001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-12001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-13001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-14001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-37001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-24001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-17001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-27001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-15001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-38001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-34001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-39001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-2001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-16001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-10001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-35001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-25001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-1.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-11001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-4001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-1001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-6001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-22001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-28001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-30001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-29001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-40001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-21001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-36001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-23001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-8001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-20001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-19001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-18001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-7001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-26001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-5001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-3001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-33001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-9001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn/BigGAN.model-31001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-12001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-13001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-14001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-24001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-17001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-15001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-2001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-16001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-10001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-25001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-1.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-11001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-4001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-1001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-6001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-22001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-21001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-23001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-8001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-20001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-19001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-18001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-7001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-5001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-3001.data-00000-of-00001
./resources/BigGAN-Tensorflow/checkpoint/BigGAN_prepped_cryptopunks_hinge_128_128_sn-old/BigGAN.model-9001.data-00000-of-00001
./presentation/drawing.svg
./src/urls/mutant-ape-yacht-club.json
./src/output/NFT_Collections.zip
